{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for route, text in {
            non_optimized_page: 'Non optimized',
            optimized_stage_1_page: 'Optimized (stage 1)',
            optimized_stage_2_page: 'Optimized (stage 2)',
        } %}
            {% for maxPerPage in [10, 25, 100, 250, 500, 1000] %}
                <li>
                    <a href="{{ path(route, {maxPerPage}) }}">{{ text}} ({{ maxPerPage}} per page)</a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
